body {
    font-family: "Inter";
    letter-spacing: -0.5px;
/*    background-color: #B6F7D7;*/
}

body * {
    margin: 0;
}

.lg-xbold {
    font-weight: 800;
    font-size: 48px;
    letter-spacing: -1px;
}

.secondary-header {
    font-weight: 600;
    font-size: 24px;
}

.rg-book {
    font-weight: 400;
    font-size: 18px;
}

.rg-bold {
    font-weight: 700;
    font-size: 18px;
}

.rg-semi {
    font-weight: 600;
    font-size: 18px;
}

.text-gray {
    color: #929499;
}

.btn {
    padding: 16px 24px;
    font-weight: 500;
    border-radius: 12px;
}

.btn-green {
    background-color: #05D96D;
    color: white;
    box-shadow: 0 10px 30px rgba(5,217,109, 0.75)
}

.btn-green-pill {
    background-color: #05D96D;
    color: white;
    border-radius: 99px;
    
}

.btn-trans {
    background-color: transparent;
    color: black;
}

#landing, #how-it-works, #contour {
    padding: 80px 0;
}

.glass-morph {
    transform: rotate(8deg);
}

#users {
    background-color: #f7f7f9;
    padding: 40px 0;
}

 {
    padding: 80px 0;
}

.hiw-jumbo {
    background-color: #222429;
    color: white;
    padding: 48px;
    border-radius: 32px
}

#contour {
    color: white;
    background-image: url(images/contour.svg), url(images/contour-bg.svg);
    background-repeat: no-repeat;
    background-size: 25%, cover;
    background-position: center;
}

#testimonials {
    padding: 80px 0 160px 0;
}

.user-button {
    padding: 32px;
    border-radius: 24px;
}

.user-button-active {
    box-shadow: 0 5px 25px #F0F2F5;
}

.fa-star {
    color: #05D96D;
}

#free-trial {
    color: white;
    background-color: #0075FF;
}
